<form>
  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]" value="">
  <br>
  <label for="sex">Sex</label>
  <input id="sex" type="radio" name="cat[sex]" > M
  <input id="sex" type="radio" name="cat[sex]" > F
  <br>
  <label for="color">Color</label>
  <select id="color">
    <option value="select" disabled selected>--select a color--</option>
    <option value="orange">Orange</option>
    <option value="brown">Brown</option>
    <option value="white">White</option>
    <option value="black">Black</option>
  </select>
  <br>
  <label for="birth_date">Birth Date</label>
  <input id="birth_date" type="date" name="cat[birth_date]">
  <br>
  <label for="description">Description</label>
  <input id="description" type="textarea">
  <br>

  
</form>